
html {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100%;

  scroll-behavior: smooth;
  word-wrap: break-word;
}

.container-top-nav {
  padding-bottom: 24rem;
}

.top-nav {
  margin-bottom: 16rem;
}

.bg-color-scheme-responsive {
  background-color: #ecf0f1;
}

.text-color-scheme-responsive {
  color: #2f3542;
}

.border-color-scheme-responsive {
  border-color: #2f3542;
}

.codehilite {
  background-color: #f4f8f9;
  border-radius: 0.5rem;
  overflow: auto;
}

.codehilite pre {
  padding: 0.5rem;
}

code, .highlighted {
  background-color: #f4f8f9;
  border-radius: 0.5rem;
  padding: 2px;
  color: #007bff;
}

@media (prefers-color-scheme: dark) {
  .bg-color-scheme-responsive {
    background-color: #2f3542;
  }

  .text-color-scheme-responsive {
    color: #ecf0f1;
  }

  .border-color-scheme-responsive {
    border-color: #ecf0f1;
  }

  .codehilite {
    background-color: #272d3a;
    border-radius: 0.5rem;
    overflow: auto;
  }

  .codehilite pre {
    padding: 0.5rem;
  }

  code, .highlighted {
    background-color: #272d3a;
    border-radius: 0.5rem;
    padding: 2px;
    color: #007bff;
  }

}

.coffee-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 24rem;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0,100% 100%,0 20%);
  -webkit-clip-path: polygon(0 0, 100% 0,100% 100%,0 20%);
}

.coffee {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  left: -4rem;
  top: 10rem;
  bottom: -2rem;
  z-index: 3;
}

.polygon-top-left {
  background: rgb(241,39,17);
  background: linear-gradient(294deg, rgba(241,39,17,1) 0%, rgba(245,175,25,1) 100%);
  clip-path: polygon(0 0, 100% 0,100% 50%,0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0,100% 50%,0 100%);
  position: relative;
}

.polygon-top-right {
  background: rgb(0,198,255);
  background: linear-gradient(27deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
  clip-path: polygon(0 0, 100% 0,100% 100%,0 20%);
  -webkit-clip-path: polygon(0 0, 100% 0,100% 100%,0 20%);
  position: relative;
}

.polygon-bottom-left {
  background: rgb(241,39,17);
  background: linear-gradient(294deg, rgba(241,39,17,1) 0%, rgba(245,175,25,1) 100%);
  clip-path: polygon(100% 100%, 0 100%, 0 50%,100% 0);
  -webkit-clip-path: polygon(100% 100%, 0 100%, 0 50%,100% 0);
  position: relative;
}

.polygon-bottom-right {
  background: rgb(0,198,255);
  background: linear-gradient(27deg, rgba(0,198,255,1) 0%, rgba(0,114,255,1) 100%);
  clip-path: polygon(100% 100%, 0 100%,0 0, 100% 80%);
  -webkit-clip-path: polygon(100% 100%, 0 100%,0 0, 100% 80%);
  position: relative;
}

@media (min-width: 1200px) {
  .container{
    max-width: 800px;
  }
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.markdown > p {
  text-align: justify;
  text-justify: inter-word;
}

.markdown > h1 {
  margin-top: 4rem;
}

.markdown > h2 {
  margin-top: 2rem;
}

.markdown > h3 {
  margin-top: 1rem;
}
