{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="author" content="{% block author %}Philipp Matthes{% endblock %}">
  <meta name="description" content="{% block description %}Coffee, Code and Web Services is a German-English blog for specialist articles on the topic of web and software development.{% endblock %}">
  <meta name="keywords" content="{% block tags %}{% endblock %}">

  <title>{% block title %}Coffee, Code and Web Services{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/pygmentize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/coffee-code-ws.css' %}">

  {% block extrahead %}{% endblock %}
</head>

<body class="bg-color-scheme-responsive text-color-scheme-responsive">

<div class="polygon-top-left">
  <div class="page-nav-container container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbar-toggler" aria-controls="navbar-toggler"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">☕💻.ws</a>

      <div class="collapse navbar-collapse" id="navbar-toggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://philippmatth.es/">Imprint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://github.com/coffee-code-ws/">Contribute</a>
          </li>
        </ul>
        <form method="GET" action="/#section-search" class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <input id="top-nav-bar-input" type="text" class="form-control bg-transparent text-white border.white"
                   placeholder="Search for blog entries" name="query" value="{{ request.GET.query }}" aria-label="Suchbegriff">
            <div class="input-group-append">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="polygon-top-right">
    <div class="text-light header-container">
      {% block header %}{% endblock %}
    </div>
  </div>
</div>

{% if messages %}
    <div class="container" style="padding-top: 20px;">
    {% for message in messages %}
        {% if message.tags %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger">{{ message }}</div>
            {% elif messsage.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
              <div class="alert alert-info">{{ message }}</div>
            {% else %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
        {% else %}
            <div class="alert alert-info">{{ message }}</div>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

{% block body %}{% endblock %}

<div class="polygon-bottom-left">
<div class="polygon-bottom-right">
<footer class="footer text-light" >
  <div class="container clearfix" style="padding-top: 24rem">
    <div class="pb-5 text-center">Made with ❤️ by <a class="text-white" href="https://philippmatth.es">Philipp Matthes</a>.</div>
  </div>
</footer>
</div>
</div>

{% block extrabody %}{% endblock %}

<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>

</body>
</html>
