{% extends 'base.html' %}

{% load markdown %}
{% load highlight %}

{% block header %}
<h1>Welcome to ☕💻.ws!</h1>
<p class="lead text-light">
  Coffee, Code and Web Services is a German-English blog for specialist articles on the topic of web and software development, driven by continuous delivery. Blog entries are published on our <a class="text-light" href="https://github.com/coffee-code-ws/entries" target="_blank">entries repository</a> and automatically updated here.
</p>
{% endblock %}

{% block body %}

<div class="container mt-5 mb-5">

  <section id="section-search" class="pt-5">
    <form method="GET" action="#section-search">
    <div class="input-group mb-3 mt-5">
      <input type="text" class="form-control" placeholder="Search for blog entries" name="query"
             value="{{ request.GET.query }}" aria-label="Search for blog entries">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
    </form>

    {% if not entries %}
      <h5>There is no article yet in this section.</h5>
    {% else %}
      <div class="row">
        {% for entry in entries %}
        <div class="col-sm-12">
          {% include 'entries/entry-card.html' %}
        </div>
        {% endfor %}
      </div>
    {% endif %}
  </section>
</div>

{% endblock %}
