{% extends 'base.html' %}

{% load markdown %}
{% load highlight %}

{% block body %}

<div class="container mt-5 mb-5">

  <section id="section-explanation">
    <h2>Was ist ☕💻.ws?</h2>
    <div class="mt-2 justify">
    {% spaceless %}
    Kaffee, Code und Web Services ist eine Informationsseite, auf der verschiedene
    technische Konzepte und Tutorials aus der modernen Software- und Webentwicklung
    vorgestellt werden.
    Das Konzept der Website ist, dass jeder an der Erstellung von Artikeln mitwirken kann.
    Wir stellen ein <a href="https://github.com/coffee-code-ws/entries">GitHub Repository</a>
    zur Verfügung, über welches neue Artikel verfasst werden können.
    Möchten Sie an der Erstellung oder Verbesserung von Artikeln mitwirken? Schreiben Sie Ihren Artikel
    einfach in Markdown und schicken Sie uns eine Pull-Request.
    {% endspaceless %}
    </div>
  </section>

  <section id="section-search" class="pt-5">
    <form method="GET" action="#section-search">
    <div class="input-group mb-3 mt-5">
      <input type="text" class="form-control" placeholder="Suchbegriff" name="query"
             value="{{ request.GET.query }}" aria-label="Suchbegriff">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">Suchen</button>
      </div>
    </div>
    </form>

    {% if not entries %}
      <h5>Für diese Auswahl gibt es noch keine Artikel.</h5>
    {% else %}
    <div class="row">
      {% for entry in entries %}
      <div class="col-sm-6">
        <div class="card mt-4 border-color-scheme-responsive bg-color-scheme-responsive">
          <div class="card-body">
            <h5 class="card-title">
              {% if request.GET.query %}
                {{ entry.title|highlight:request.GET.query }}
              {% else %}
                {{ entry.title }}
              {% endif %}
            </h5>
            <p class="card-text">
              {% if request.GET.query %}
                {{ entry.description|highlight:request.GET.query }}
              {% else %}
                {{ entry.description }}
              {% endif %}
            </p>
            <a href="{% url 'entries:index' entry.slug %}" class="btn btn-primary">Weiterlesen</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </section>
</div>

{% endblock %}
